<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name" required/>
    <br/>
    <br/>
    <label for="lastName">LastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName" required/>
    <br/>
    <br/>
    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age" required/>
    <br/>
    <br/>
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" id="username" required/>
    <br/>
    <br/>
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password" required/>
    <br/>
    <br/>
    <label> Role:
        <input type="radio" name="roles"
               th:each="role : ${rolesAdd}"
               th:value="${role.getId()}"
               th:text="${role.getName() == 'ROLE_ADMIN' ? 'Admin ' : (role.getName() == 'ROLE_USER' ? 'User ' : role.getName())}"
               th:field="*{roles}" th:checked="${role.getName() == 'ROLE_ADMIN'}" required/>
    </label>


    <br/>
    <br/>
    <input type="submit" value="Add">
</form>

</body>
</html>
