<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<table th:if="${user}">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Last Name</td>
        <td>Username</td>
        <td>Age</td>
        <td>Role</td>
    </tr>

    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getRoles()}"></td>

    </tr>
</table>


<br>

<form th:action="@{/logout}" th:method="POST" target="_self">
    <button>Выйти из аккаунта</button>
</form>

</body>
</html>
